.buttonContainer {
  background: var(--yellow-color);
  font-family: inherit;
  padding: 0.5em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;

  margin-top: 150px;

  h2 {
    color: black;
    font-weight: 700;
  }
}

.buttonContainer:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.buttonContainer:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
